*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-style: none;
    scroll-behavior: smooth;
}
:root{
/*set up some custom propoerties*/
    --ff-primary:'Source Sans Pro', sans-serif;
    --ff-secondary:'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-dark:#303030;
    --clr-accent:#16e0bd;

    --fs-h1:4.5rem;
    --fs-h2:2.25rem;
    --fs-f3:1.25rem;
    --fs-body:1rem;
    --bs:0.25em 0.25em 0.75em rgba(0,0,0,.25)
    
}

.navbar{
    box-shadow: 0 5px 10px ;
    text-transform: full-width;
    background: green;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}
.logo{
    height: 48px;
   
}

.btn{
    background:green;
    display: block;
}
.navlist{
    
    float: right;
    margin-right: 20px;
    display: flex;
    align-content: center;
}
.navlist li{
   display: flex;
    padding: 20px;
    border-radius: 3px;
}
a:hover,a:active{
    text-transform: capitalize;
    background: green;
}
.hamburger{
    display: none;
    -webkitt-transform: 0 ;
}
.bar{
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    -webkitt-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: black;
    object-position: right;
    


}
.searchbar{
    display: flex;
    float: center;
    background: white;
    border-radius: 4px;
    position: relative;
    width: auto;
    height: 20px;
    margin-top: 15px;
    align-items: center;

}
#this_search{
    display: none;
}

input{
    border: none;
    margin: 3px;
    border-style: hidden;
    outline: none;
}
.fa-solid{
    border: none;
    margin: 5px;
    background: inherit;
}
.fusion-logo-link{
    width: 30%;
}
@media(max-width: 786px){
   .hamburger{
        display: block;
        cursor: pointer;
       

   }
   .hamburger.active .bar:nth-child(2){
    opacity: 0;
    
   }
   .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
   }
   .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
   }
   .navlist{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: green;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: auto;
   }
   .navitem{
    margin-top: 5px;
   }
   .navlist.active{
    left: 0;
   }
   .fusion-logo-link{
    width: 50%;
    padding: 0;

   }
   .logo{
    width: 100%;
   }
   .searchbar{
    visibility: hidden;
   }
   .navbar{
    justify-content: space-around;
   }
}
#home{
    background-color:var(--clr-accent);
    background-image: url(images/tsetse3.jfif);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    display: grid;
    justify-content: center;
    height: 80%;
    
  }
  .p_home{
    width: 50%;
    height: 100%;
    float: right;
    display: inherit;
    
   

  }
  .h1_home{
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
  }
  .img_span{
    
    width: 50%;
    display: inline-block;
    float: right;
    height: 100%;
  }
  